<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.title and page.title != 'Home' %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }} | {{ site.subtitle }}
    {% endif %}
  </title>
  <meta name="description" content="{{ page.dek | default: site.description | escape }}">
  <link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token":"dbd43892b69a4393a2d4d1377cb3ab6f"}'></script>
</head>
